<%- include('partials/headerLoggedIn.ejs') %>

<h1>Home</h1>


<% posts.forEach((post)=>{ %>
<h3><%= post.name %></h3>
<p><%= post.post.slice(0,100) %> ...<a href="/posts/<%= post.name %>">  Read More</a></p>
<p>Posted by: <%= post.user %></p>
<% }) %>
<form action="/composeBtn" method="get">
    <button class="btn" type="submit">Compose</button>
</form>

<%- include('partials/footer.ejs') %>